<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>
<body>
    <!--nav-->
    <header>
        <div class= navimg>  
            <a  href="home.html">
                <img id= "logo" src="src\calendar.png" alt="Quotes logo">
            </a>
            <p id="logo-quote">The Quote Calendar</p>
        </div>
        <ul class="ulnav"> 
            <li> <a href="home.html">Home</a> </li> 
            <li> <a href="quotes.html">Quotes</a> </li> 
            <li> <a href="calendars.html">Calendars</a> </li> 
            <!-- <li> <a href="site.plan.html">Site Plan</a> </li>  -->
        </ul> 
    </header>
    <main>
        <!--Hero img-->
        <section>
            <img class="heroimg" src="src\mainimg.png" alt="Hero Image" class="responsive">
        </section>
            <!--Quote scroll bar-->
            <div id="div-quote-scroll-bar">
                <h1 id="h1-home-quotes">Discover our quote's authors</h1>
                <h2 id="h2-home-quotes">Inspiring, heartbreaking, breathtaking amazing quotes of all varieties.</h2>
                <button id="button-home-quotes"><a href="quotes.html">Visit</a></button>
            </div>
            <div class="home-big-container">
                <ul class="list">
                    <li class="item">
                    <img src="src\quotes\1.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\3.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\5.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\7.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\9.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\11.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\13.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\15.png" alt="Avatar" class="bar-image">
                    </li>
                    <li class="item">
                    <img src="src\quotes\17.png" alt="Avatar" class="bar-image">
                    </li>
                </ul>
            </div>
            <script>
                var root = document.documentElement;
                const lists = document.querySelectorAll('.hs'); 
                
                lists.forEach(el => {
                    const listItems = el.querySelectorAll('li');
                    const n = el.children.length;
                    el.style.setProperty('--total', n);
                });
                </script>
            <!--Comments-->
            <div id="div-comment-home">
                <h1 id="h1-comment-home">Participate of our community</h1>
                <h2 id="h2-comment-home">We would love to hear from you!</h2>
            </div>
            <section id="app">
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <div class="comment">
                    <p v-for="items in item" v-text="items"></p>
                      </div><!--End Comment-->
                      </div><!--End col -->
                      </div><!-- End row -->
                  <div class="row">
                    <div class="col-6">
                  <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                      <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                    </div><!-- End col -->
                  </div><!--End Row -->
                </div><!--End Container -->
              </section><!-- end App -->
            <!-- Vue JS -->
            <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
            <!-- jQuery -->
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
            <script>
            $(document).ready(function(){ 
            
                $(".primaryContained").on('click', function(){
                $(".comment").addClass("commentClicked");
            });//end click
            $("textarea").on('keyup.enter', function(){
                $(".comment").addClass("commentClicked");
            });//end keyup
            });//End Function
        
            new Vue({
                el: "#app",
                data:{
                title: 'Add a comment',
                newItem: '',
                item: [],
                },
                methods:{
                addItem  (){
                this.item.push(this.newItem);
                    this.newItem = "";
                }
            }
        
            });
            </script>
    </main>
    <!--footer-->
    <footer>
        <p>The Quote Calendar &copy; 20XX - Giovanna Rotondo</p>
        <button id="footer-button"><a href="site.plan.html">Site Plan</a></button>
        <div class="social">
            <a href="https://facebook.com" target="_blank">
                <img class="foot-img" src="src\social\97255801586787813-128.png" alt="fb icon">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img class="foot-img" src="src\social\16680592861579688347-128.png" alt="twitter icon">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img class="foot-img" src="src\social\10723370611595759819-128.png" alt="instagram icon">
            </a>
        </div>
    </footer>
</body>
</html>