@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

/*Body-div id content*/
#content{
    max-width: 1600px;
    margin: 0 auto;
}

/*Titles*/
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}

/*font-family*/
#hero-msg, h2{
    font-family: 'Dongle Regular 400', sans-serif;
}
.msg{
    font-family: 'Dongle Regular 300', sans-serif;
}
nav, footer{
    font-family: 'Times New Roman', Times, serif;
}

/*hero box*/ /*missing*/
main section{
    background-color: white;
}
main section img {
    box-sizing: border-box;
}

/*Imgs*/
.icon{
    width: 80px;
    padding-top: 10px;
}
body{
    background-color: white;
}
.card-img {
    border: 10px solid #d9c2a3;
}

/*Header logo and stuff*/
header{
    background-color: black;
}
.logo{
    width: 80%;
}
#logo_link{
    padding-top: 5px;
}   

/*Nav & links*/
nav{
    background-color: black;
}
nav a{
    color: white; 
    padding: 35px;
    border-radius: 5px; /*me*/
}
nav a:hover {
    background-color: #A8ED96;
}

/*.Book Now link*/
.book{
    color:black;
    /*color: white; */
}
.book:hover{
    background-color: #A8ED96;
}

/*Mountains div*/
#background {
    height: 725px;
    background-color: #47B193;
}

/*msg div section*/
.msg{
    color: white;
    background-color: #47B193;
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: black;
}
.msg p{
    color: white;
    padding-bottom: 15px;
}

/*.Join link*/
.join{
    color: white;
}
.join:hover{
    background-color: #A8ED96;
}

/*Footer*/
footer{
    background-color: black;
    padding: 25px 50px;
}
footer a{
    color: white;
    margin-top: 200px;
}
footer a:hover{
    background-color: #A8ED96;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}  

/*General stuff*/
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
}
nav a, .book, .join, footer a{
    text-decoration: none;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
/*Reset*/
body {
    background-color: #fcfbfb;
    font-family: Raleway Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
